* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
Se hace para que 1 rem sea igual a 10px, de esto modo puedo usar
una medida relativa con mayor facilidad. Sino por defecto 1rem = 16px
*/
html {
  font-size: 62.53;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  background-color: rgb(142, 224, 197);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

main {
  width: 80%;
  margin: auto;
  padding-bottom: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
footer {
  background-color: bisque;
  color: rgb(77, 17, 17);
  font-style: oblique;
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  padding: 1rem;
  margin-right: 2rem;
  width: 100%;
  border-radius: 3rem;
}

.header__nav {
  padding: 1rem;
  margin-left: 2rem;
}

.header__nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem; /*Espacio entre elementos*/
  margin: 1rem;
}

.header__nav li {
  font-size: 1.7rem;
  font-weight: bold;
}

.header__nav a {
  color: rgb(77, 17, 17);
  text-decoration: none;
  display: inline-block; /*Los elementos inline no pueden crecer en su eje vertical por eso es que se le da la propiedad inline block*/
  padding: 1rem;
}

/*STYLES HOME*/

/*  vemos cuando haga contactos
main {
  width: 90%;
  flex: 1;
  margin: 2rem auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}
*/
.titulo-home {
  font-size: 4rem;
  margin: 2rem 0;
  text-align: center;
}

.parrafo-home {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  width: 80%;
}

#productos-home {
  width: 100%;
}

#productos-home h2 {
  font-size: 3rem;
  padding: 1rem;
  margin: 3rem;
  text-align: center;
  color: blueviolet;
}

.contenedor-tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.tarjeta-producto {
  background-color: rgb(172, 13, 13);
  padding: 1rem;
  border-radius: 1rem;
  width: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.tarjeta-producto h3 {
  font-family: "Google Sans Code", monospace;
}

.tarjeta-producto img {
  width: 100%;
  border-radius: 0.5rem;
}

.tarjeta-producto a {
  color: chartreuse;
  text-decoration: none;
  text-align: center;
  display: inline-block; /*Los elementos inline no pueden crecer en su eje vertical por eso es que se le da la propiedad inline block*/
  padding: 1rem;
}

/*STYLES CONTACTO*/
.titulo-contacto {
  margin: 2rem 0;
}

.form-contacto {
  background-color: blueviolet;
  color: beige;
  width: 100%;
  max-width: 50rem;
  font-size: 2rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.grupo-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.grupo-input input,
.grupo-input textarea {
  border: none;
  margin-bottom: 2rem;
}

.btn {
  background: rgb(10, 12, 117);
  color: chartreuse;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
  border-radius: 1rem;
}

.btn-productos {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: "pointer";
  border-radius: 1rem;
}
/*MEDIA*/
@media (max-width: 1100px) {
  header,
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header__logo,
  .header__nav {
    margin: 0;
  }

  .header__nav ul {
    flex-direction: column;
    align-items: center;
    gap: 1rem; /*Espacio entre elementos*/
    margin: 1rem;
  }
}
